<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  	<meta charset="UTF-8"/>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  	<link href="styles.css" rel="stylesheet"/>
  	
  	<!-- Google Fonts -->
  	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  
  	<title>About Spring Boot</title>
</head>
<body id="page-container">
  <div id="content-container">
  	<h1>About Spring Boot</h1>
    <p>
      Spring Boot Extension is Spring's convention-over-configuration solution for
      creating stand-alone, production-grade Spring-based Applications that you can
      "just run". It is preconfigured with the Spring team's "opinionated view" of
      the best configuration and use of the Spring platform and third-party libraries
      so you can get started with minimum fuss. Most Spring Boot applications need
      very little Spring configuration.
    </p>
    <h3>Key Features</h3>
    <ul>
      <li>Create stand-alone Spring applications</li>
      <li>Embed Tomcat or Jetty directly (no need to deploy WAR files)</li>
      <li>
        Provide opinionated 'starter' Project Object Models (POMs) to simplify
        your Maven/Gradle configuration
      </li>
      <li>Automatically configure Spring whenever possible</li>
      <li>
        Provide production-ready features such as metrics, health checks and
        externalized configuration
      </li>
      <li>Absolutely no code generation and no requirement for XML configuration.</li>
      <li>Smooth Integration and supports all Enterprise Integration Patterns.</li>
    </ul>

    <img width="200px" src="https://spring.io/images/spring-logo-9146a4d3298760c2e7e49595184e1975.svg" alt="Spring logo"/>
    
    <div>
   	  <p><a href="/learn">Learn</a> Spring Boot</p>
      <p><a href="/greeting">Back</a> to the greeting page</p>
    </div>
  </div>
</body>
</html>