<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Greeting</title>
</head>
<body>
<header>
  <h1>Greetings<span th:text="${user_name}"></span>!</h1>
</header>
  <main>
    <p>Welcome to this website, created using Spring Boot!</p>
    <form action="">
      <input type="text" name="user_name" placeholder="Your name"/>
      <input type="submit" value="submit"/>
    </form>
	
    <div>
      <p><a href="/about">About</a> Spring Boot</p>
      <p><a href="/learn">Learn</a> Spring Boot</p>
    </div>
  </main>
</body>
</html>