<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  	<meta charset="UTF-8"/>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  	<link href="styles.css" rel="stylesheet"/>
  
  	<!-- Google Fonts -->
  	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  
  	<title>Learn Spring Boot</title>
</head>
<body id="page-container">
  <div id="content-container">
  	<h1>Learn Spring Boot</h1>
    <p>
      Spring Boot can be weird to learn if you haven't encountered MVC
      (Models Views Controllers) application structures before,
      luckily there are some great tutorials around to allow
      beginners to start using Spring Boot.
    </p>
    <p>
      Lots of great learning resources can be found
      <a href="https://www.spring.io/learn" target="_blank">here</a>
      on the <i>Learn</i> section of Spring's website. They have plenty of
      tutorials for different topics and quick start guides for common
      project types.
    </p>
    <p>
      While researching, I have also come across a series of video
      tutorials on YouTube by a channel called LaunchCode. They are
      really useful for beginners as the content is covered slowly,
      adding functionality step-by-step while explaining concepts.
      I have compiled the series into an unlisted YouTube playlist
      which can be accessed
      <a href="https://youtube.com/playlist?list=PLHsawOW0X7M7q0Vr761kjBcsMihv2762s">here</a>.
    </p>
    
    <div>
      <p><a href="/about">About</a> Spring Boot</p>
      <p><a href="/greeting">Back</a> to the greeting page</p>
    </div>
  </div>
</body>
</html>